* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo: #A8C3A4;
    --color-secundario:#4D7A48;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 1rem;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.25rem;
    background-color: var(--color-fondo);
    font-family: Arial, sans-serif;
    color: var(--color-secundario);
}

.logo {
    width: 7rem;
    height: auto;
    
}





h1 {
    font-size: 2rem;
    color: var(--color-secundario);
    margin: 0;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

/* Main */
main {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1rem;
    /* background-color: var(--color-fondo); */
    /* border: 6px solid var(--color-secundario); */
}

.contenido-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-fondo);
    border: 6px solid var(--color-secundario);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.imagen-fachada {
    width: 50%;
    max-width: 500px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

p {
    font-size: 0.9rem;
    width: 80%;
    text-align: justify;
}

footer {
    padding: 1rem;
    margin-top: 2rem;
}


